@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Helvetica Neue";
  src: url("/fonts/HelveticaNeue.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

@font-face {
  font-family: "Helvetica Neue";
  src: url("/fonts/HelveticaNeue-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
  font-display: block;
}

:root {
}

@media (prefers-color-scheme: dark) {
  :root {
  }
}

body {
  color: rgb(0, 0, 0);
  margin: 0;
  padding: 0;
  font-family: "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  user-select: none;
}

@layer utilities {
}

mux-player {
  /* Hide all controls at once */
  --controls: none;
  --media-object-fit: cover;
  --media-object-position: center;
}
